body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.parallax {
    /* A imagem de fundo */
    background-image: url('images/38Z_2105.w023.n001.538B.p1.538.jpg');

    /* Altura será 100% do viewport */
    height: 100%; 

    /* Criação do efeito parallax */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
}

.content h1 {
    font-size: 3em;
    margin: 0;
}

.content p {
    font-size: 1.2em;
}
